<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SKIN QURATOR</title>
    <link rel="shortcut icon" href="../images/common/favicon.ico" />
    <link rel="stylesheet" href="../css/font.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
    <!-- Header -->
    <header class="header">
        
        <!-- 스크롤시 보여지는 로고 -->
        <div class="hidden_logo">
            <a href="main.html">SKIN QURATOR</a>
        </div>

        <div class="inner">
            <h1><a href="main.html">SKIN QURATOR</a></h1>
            <div class="member">
                <a href="join_login.html">로그인</a>
                <a href="join.html">회원가입</a>
            </div>
        </div>

        <nav class="gnb">
            <div class="inner">
                <ul class="depth_01">
                    <li class="item"><a href="business_01_1.html">산업혁신기반구축사업</a>
                        <div class="sub">
                            <ul class="depth_02">
                                <li><a href="business_01_1.html">사업소개</a></li>
                                <li><a href="">기관소개</a></li>
                                <li><a href="business_03_1.html">융복합 기술개발 성과</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="item"><a href="cosmetic_01_1.html">맞춤형화장품 소개</a>
                        <div class="sub">
                            <ul class="depth_02">
                                <li><a href="cosmetic_01_1.html">정의 및 History</a></li>
                                <li><a href="cosmetic_02_1.html">맞춤형화장품 판매업</a></li>
                                <li><a href="cosmetic_03_1.html">SkinQurator</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="item"><a href="">나의 피부고민 솔루션</a>
                        <div class="sub">
                            <ul class="depth_02">
                                <li><a href="">자가진단</a></li>
                                <li><a href="solution_02_1.html">SkinLink</a></li>
                                <li><a href="">AI기반 피부진단</a></li>
                                <li><a href="">진단이력관리</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="item"><a href="">피부진단기</a>
                        <div class="sub">
                            <ul class="depth_02">
                                <li><a href="">아람휴비스</a></li>
                                <li><a href="">초위스컴퍼니</a></li>
                                <li><a href="">룰루랩</a></li>
                                <li><a href="">릴리커버</a></li>
                                <li><a href="">링커버스</a></li>
                                <li><a href="">에프앤디파트너스</a></li>
                                <li><a href="">케이씨테크놀러지</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="item"><a href="">ICT융복합 서비스</a>
                        <div class="sub">
                            <ul class="depth_02">
                                <li><a href="">스마트미러</a></li>
                                <li><a href="service_02_1.html">스마트팩토리</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="item"><a href="">커뮤니티</a>
                        <div class="sub">
                            <ul class="depth_02">
                                <li><a href="">공지사항</a></li>
                                <li><a href="">자료실</a></li>
                                <!-- <li><a href="">맞춤형화장품 조제관리사 Network</a></li> -->
                                <li><a href="community_04.html">자주묻는 질문</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="side_menu">
            <button type="button">유용정보</button>
            <ul>
                <li><a href=""><span class="ico ico_01"></span>관광</a></li>
                <li><a href=""><span class="ico ico_02"></span>기상정보</a></li>
                <li><a href=""><span class="ico ico_03"></span>지역음식</a></li>
                <li><a href=""><span class="ico ico_04"></span>쇼핑</a></li>
                <li><a href=""><span class="ico ico_05"></span>축제 및 행사</a></li>
                <li><a href=""><span class="ico ico_06"></span>교통</a></li>
                <li><a href=""><span class="ico ico_07"></span>의료기관 정보</a></li>
            </ul>
        </div>
        
    </header>
    <!-- //Header -->

    <!-- Container -->
    <section class="container">

        <!-- 타이틀 -->
        <div class="title title_bg_join">
            <div class="inner">
                <div class="txtbox">
                    <h3 class="ff_nm">비밀번호 찾기</h3>
                </div>
            </div>
        </div>
        <!-- //타이틀 -->

        <!-- 컨텐츠 -->
        <div class="content login">
            <div class="inner">

                <div class="findbox find_pw">
                    <div class="top">
                        <img width="88" height="112" src="../images/join/phone.png" alt="" />
                        <p>아이디(이메일 주소)와 휴대폰 번호를 입력 후 인증번호 발송을 클릭해 <br />
                            주세요. 인증번호를 입력하신 후 확인 버튼을 클릭하시면 비밀번호를 <br />
                            재설정 하실 수 있습니다.</p>
                    </div>
                    <form action="" method="post">
                        <ul class="form_style">
                            <li>
                                <label for="user_id">아이디(이메일)</label>
                                <input id="user_id" type="text" value="userid123@naver.com" readonly />
                            </li>
                            <li>
                                <label for="user_phone">휴대폰 번호</label>
                                <input id="user_phone" type="text" value="" />
                                <button class="btn_st2" type="button">인증번호 발송</button>
                            </li>
                        </ul>
                        <button class="btn_st1 btn_h50 btn_submit" type="button">비밀번호 재설정</button>
                    </form>
                </div>

            </div>
        </div>
        <!-- //컨텐츠 -->

    </section>
    <!-- //Container -->

    <!-- Footer -->
    <footer class="footer">
        <div class="banner">
            <div class="inner">
                <ul>
                    <li><a href="http://www.motie.go.kr/" target="_blank"><img width="220" height="59" src="../images/common/banner_01.png" alt="산업통상자원부" /></a></li>
                    <li><a href="https://www.jeju.go.kr/" target="_blank"><img width="204" height="59" src="../images/common/banner_02.png" alt="제주특별자치도" /></a></li>
                    <li><a href="https://www.kiat.or.kr/" target="_blank"><img width="230" height="59" src="../images/common/banner_03.png" alt="한국산업기술진흥원" /></a></li>
                    <li><a href="http://jj.irpe.or.kr/" target="_blank"><img width="208" height="59" src="../images/common/banner_04.png" alt="(재) 제주지역사업평가단" /></a></li>
                    <li><a href="https://www.jejutp.or.kr/      " target="_blank"><img width="188" height="59" src="../images/common/banner_05.png" alt="제주테크노파크" /></a></li>
                </ul>
            </div>
        </div>
       
        <div class="ft_cont">
            <div class="inner">
                <h1><a href="">SKIN QURATOR</a></h1>
                <div class="ft_info">
                    <p><span>상호명 : (재)제주테크노파크</span><span>대표자 : 원장 태성길</span><span>사업자번호 : 616-82-15584</span></p>
                    <p>(63208) 제주시 중앙로 217 (이도이동) 제주벤처마루 9F</p>       
                    <p><span>TEL : (064)720-2300</span><span>FAX : (064)751-3443</span><span>플랫폼 문의 : (064)720-2355</span></p>
                    <p>Copyright(c)2022 JEJU TECHNOPARK. All rights reserved.</p>
                </div>
                <ul class="policy_link">
                    <li><a href="terms.html">이용약관</a></li>
                    <li><a href="policy.html">개인정보처리방침</a></li>
                </ul>
            </div>
        </div>

        <div class="gotop_wrap">
            <a class="gotop" href="">TOP</a>
        </div>

    </footer>
    <!-- //Footer -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
</body>
</html>