<!DOCTYPE html>
<!-- Thymeleaf 선언 / FooterFragment 임을 선언-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
        <!-- Footer -->
        <footer class="footer" th:fragment="MobileFooterFragment">     
            <div class="inner">
                <h1><a href="">SKIN QURATOR</a></h1>
                <div class="ft_info">
                    <p><span>상호명 : (재)제주테크노파크</span><span>대표자 : 원장 태성길</span><span>사업자번호 : 616-82-15584</span></p>
                    <p>(63208) 제주시 중앙로 217 (이도이동) 제주벤처마루 9F</p>       
                    <p><span>TEL : (064)720-2300</span><span>FAX : (064)751-3443</span><span>플랫폼 문의 : (064)720-2355</span></p>
                    <p>Copyright(c)2022 JEJU TECHNOPARK. All rights reserved.</p>
                </div>
                <ul class="policy_link">
                    <!-- <li><a href="terms.html">이용약관</a></li>
                    <li><a href="policy.html">개인정보처리방침</a></li> -->
                </ul>
            </div>

            <div class="gotop_wrap">
                <a class="gotop" href="">TOP</a>
            </div>

        </footer>
        <!-- //Footer -->

    <!-- <div id="weatherShow" style="display: none;">
        <jsp:include page="../useinfo/weather.jsp"/>
    </div>
    <div id="toursInfoShow" style="display: none;">
        <jsp:include page="../useinfo/toursInfo.jsp"/>
    </div>
    <div id="medicalShow" style="display: none;">
        <jsp:include page="../useinfo/medical.jsp"/>
    </div> -->


            
</footer>

</html>


