@charset "UTF-8";
/* Common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
    margin: 0;
    padding: 0;
}

body, input, textarea, button, select {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: #555;
    line-height: 1.85em;
    word-break: keep-all;
    letter-spacing: -0.5px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

button {
    border: 0;
}

img, fieldset {
    border: 0;
}

textarea {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    resize: none;
}

ul, ol {
    list-style: none;
}

li {
    vertical-align: top;
}

em, address {
    font-style: normal;
}

input, select {
    vertical-align: middle;
}

a {
    color: #181818;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.blind, caption, #skip {
    overflow: hidden !important;
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
}

hr, legend {
    display: none;
}

button {
    background: transparent;
    cursor: pointer;
}

img {
max-width: 100%;
}

/* checkbox */
/* input[type="checkbox"]:focus+span:before {outline: 2px solid #000;} */
input[type="checkbox"] {margin:0;width:0;height:0;clip:rect(0 0 0 0);}
input[type="checkbox"]+span {position:relative;top:1px;display:inline-block;padding-left:50px;min-height:28px;font-size:19px;line-height:1.5em;color:#555;vertical-align:top;box-sizing:border-box;}
input[type="checkbox"]+span:before {position:absolute;top:1px;left:0;content:"";display:inline-block;width:28px;height:28px;border:1px solid #beb5b1;border-radius:5px;box-sizing:border-box;}
input[type="checkbox"]:checked+span:before {border-color:#f19742;background:url(../images/common/input_check.png) no-repeat 0 0 #f19742;}

/* radio */
input[type="radio"] {margin:0;width:0;height:0;clip:rect(0 0 0 0);vertical-align: middle;}
input[type="radio"]+span {position:relative;top:1px;display:inline-block;padding-left:31px;min-height:21px;font-size:18px;line-height:1.5em;color:#555;vertical-align:top;box-sizing:border-box;}
input[type="radio"]+span:before {position:absolute;top:3px;left:0;content:"";display:inline-block;width:21px;height:21px;border:1px solid #bfb6b2;border-radius:50%;background-color: #fff;box-sizing:border-box;}
input[type="radio"]:checked+span:after {position:absolute;top:9px;left:6px;content:"";display:inline-block;width:9px;height:9px;background-color: #f19742;border-radius:50%;box-sizing:border-box;}

/* common class */
.of_h {/*overflow: hidden;*/}
.of_h:after {content: "";display: block;clear: both;}
.fl {float: left;}
.fr {float: right;}
.ta_l {text-align: left!important;}
.ta_c {text-align: center!important;}
.ta_r {text-align: right!important;}
.ff_nm {font-family: 'NanumMyeongjo', serif!important;}
.hidden {display: none;}
.fw_400 {font-weight: 400;}
.fw_500 {font-weight: 500;}
.fw_700 {font-weight: 700;}

/* margin-bottom */
.mb_10 {margin-bottom: 10px!important;}
.mb_20 {margin-bottom: 20px!important;}
.mb_30 {margin-bottom: 30px!important;}
.mb_40 {margin-bottom: 40px!important;}
.mb_50 {margin-bottom: 50px!important;}
.mb_60 {margin-bottom: 60px!important;}
.mb_70 {margin-bottom: 70px!important;}
.mb_80 {margin-bottom: 80px!important;}
.mb_90 {margin-bottom: 90px!important;}
.mb_100 {margin-bottom: 100px!important;}
.mb_110 {margin-bottom: 110px!important;}
.mb_120 {margin-bottom: 120px!important;}
.mb_130 {margin-bottom: 130px!important;}
.mb_140 {margin-bottom: 140px!important;}
.mb_150 {margin-bottom: 150px!important;}
.mb_160 {margin-bottom: 160px!important;}
.mb_170 {margin-bottom: 170px!important;}
.mb_180 {margin-bottom: 180px!important;}
.mb_190 {margin-bottom: 190px!important;}
.mb_200 {margin-bottom: 200px!important;}
.mb_210 {margin-bottom: 210px!important;}
.mb_220 {margin-bottom: 220px!important;}
.mb_230 {margin-bottom: 230px!important;}
.mb_240 {margin-bottom: 240px!important;}
.mb_250 {margin-bottom: 250px!important;}