<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      th:with="type='skin'"
>

    <section class="container" layout:fragment="Content">

        <script th:inline="javascript">
            const restoreAnswers = "[[${answers}]]";
        </script>

        <!-- 컨텐츠 상단 서브 메뉴 -->
        <div class="lnb_wrap">
            <div class="inner">
                <div class="lnb">
                    <button type="button">일반소비자 피부진단</button>
                    <ul>
                        <li class="active"><a th:href="@{/skin/solution_01_1}">일반소비자 피부진단</a></li>
                        <!-- <li><a class="last" th:href="@{/skin/solution_02_1}">맞춤형화장품 조제관리사 고객 피부진단</a></li> -->
                    </ul>
                </div>

                <ul class="depth_03">
                    <li></li>
                </ul>
            </div>
        </div>
        <!-- //컨텐츠 상단 서브 메뉴 -->

        <!-- 타이틀 -->
        <div class="title title_bg_03">
            <div class="inner">
                <div class="txtbox">
                    <div class="tit_s ff_nm">My Skin Guide Platform</div>
                    <h3 class="ff_nm">일반소비자 피부진단</h3>
                    <p>소중한 내 피부, 타입을 체크해 보세요!<br />
                        아름다운 피부 관리에 도움을 드리겠습니다.</p>
                </div>
            </div>
        </div>
        <!-- //타이틀 -->

        <!-- 컨텐츠 -->
        <div class="content kr" id="testTop">

            <div class="inner">

                <div class="language">
                    <img width="20" height="20" th:src="@{/resources/static/images/common/ico_world.png}" alt="language" />
                    <a class="active" href="?lang=KR">KR</a>
                    <a href="?lang=CN">CN</a>
                </div>

                <ul class="skintest_step">
                    <li><div><span class="step">STEP 1</span><span class="txt">피부 자가 진단</span></div></li>
                    <li><div class="on"><span class="step">STEP 2</span><span class="txt">유/수분 밸런스</span></div></li>
                    <li><div><span class="step">STEP 3</span><span class="txt">피부 트러블</span></div></li>
                    <li><div><span class="step">STEP 4</span><span class="txt">색소침착</span></div></li>
                    <li><div><span class="step">STEP 5</span><span class="txt">주름/탄력도</span></div></li>
                    <li><div><span class="step">STEP 6</span><span class="txt">피부 노화</span></div></li>
                    <li><div><span class="step">STEP 7</span><span class="txt">화장품 선호도</span></div></li>
                    <li><div><span class="step">STEP 8</span><span class="txt">생활 패턴</span></div></li>
                </ul>


                <ul class="skintest_list">
                    <li>
                        <p><span class="num">1</span>세안 30분 후 기초화장을 하지 않은 상태에서 얼굴의 상태는 어떠한가요?</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-1" class="Q03S1"><span>당기고 갈라지는 느낌</span></label>
                            <label><input type="radio" name="check_step_2-1" class="Q03S3"><span>당기거나 갈라지는 느낌 없이 편안함</span></label>
                            <label><input type="radio" name="check_step_2-1" class="Q03S2"><span>유분이 많아 번들거림</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">2</span>화장 2시간 후 얼굴 상태나 느낌은 어떤가요?</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-2" class="Q04S1"><span>화장이 쉽게 지워짐</span></label>
                            <label><input type="radio" name="check_step_2-2" class="Q04S3"><span>화장이 잘 스며들고 쉽게 지워지지 않음</span></label>
                            <label><input type="radio" name="check_step_2-2" class="Q04S2"><span>화장이 잘 들뜸</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">3</span>T존 부위의 평상시 피부 느낌은 어떤가요?</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-3" class="Q05S1"><span>건조하고, 잔주름이 금방 생김</span></label>
                            <label><input type="radio" name="check_step_2-3" class="Q05S3"><span>유수분 밸런스가 맞고, 피부 트러블이 거의 없음</span></label>
                            <label><input type="radio" name="check_step_2-3" class="Q05S2"><span>항상 유분이 많아 번들거림</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">4</span>U존 부위의 평상시 피부느낌은 어떤가요?</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-4" class="Q06S1"><span>건조하고, 잔주름이 금방 생김</span></label>
                            <label><input type="radio" name="check_step_2-4" class="Q06S3"><span>유수분 밸런스가 맞고, 피부 트러블이 거의 없음</span></label>
                            <label><input type="radio" name="check_step_2-4" class="Q06S2"><span>항상 유분이 많아 번들거림</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">5</span>평상 시 자신의 피부결 상태는 어떤가요?</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-5" class="Q07S1" value="1"><span>모공이 거의 눈에 띄지않고 피부결이 섬세하다.</span></label>
                            <label><input type="radio" name="check_step_2-5" class="Q07S1" value="2"><span>T존 주위에 모공이 약간 보이나 전체적으로 피부결이 고르다.</span></label>
                            <label><input type="radio" name="check_step_2-5" class="Q07S1" value="3"><span>전체적으로 모공이 넓고 피부결이 고르지 않음</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">6</span>평상 시 자신의 피부 윤기(광택)은 어떤가요?</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-6" class="Q08S1"><span>다소 거칠고 윤기가 없다.</span></label>
                            <label><input type="radio" name="check_step_2-6" class="Q08S3"><span>T존을 중심으로 과하지 않은 윤기가 돌고 전체적으로 투명하다.</span></label>
                            <label><input type="radio" name="check_step_2-6" class="Q08S2"><span>전체적으로 윤기가 과해서 번들거린다.</span></label>
                        </div>
                    </li>
                </ul>

                <div class="skintest_btns">
                    <a class="btn_prev" th:href="@{/skin/solution_01_1}">이전</a>
                    <a class="btn_next" th:href="@{/skin/solution_01_3}">다음</a>
                </div>

            </div>

        </div>

        <div class="content cn" id="testTop">

            <div class="inner">

                <div class="language">
                    <img width="20" height="20" th:src="@{/resources/static/images/common/ico_world.png}" alt="language" />
                    <a href="?lang=KR">KR</a>
                    <a class="active" href="?lang=CN">CN</a>
                </div>

                <ul class="skintest_step">
                    <li><div><span class="step">STEP 1</span><span class="txt">皮肤自己检测</span></div></li>
                    <li><div class="on"><span class="step">STEP 2</span><span class="txt">油水分平衡</span></div></li>
                    <li><div><span class="step">STEP 3</span><span class="txt">过敏，皮肤病</span></div></li>
                    <li><div><span class="step">STEP 4</span><span class="txt">色素沉淀</span></div></li>
                    <li><div><span class="step">STEP 5</span><span class="txt">皱纹/弹性</span></div></li>
                    <li><div><span class="step">STEP 6</span><span class="txt">皮肤老化</span></div></li>
                    <li><div><span class="step">STEP 7</span><span class="txt">化妆品偏爱度</span></div></li>
                    <li><div><span class="step">STEP 8</span><span class="txt">生活方式</span></div></li>
                </ul>


                <ul class="skintest_list">
                    <li>
                        <p><span class="num">1</span>洗完30分钟后没涂抹护肤品，你的脸状态怎么样？</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-1" class="Q03S1"><span>紧绷，干裂的感觉</span></label>
                            <label><input type="radio" name="check_step_2-1" class="Q03S3"><span>没有 紧绷，干裂的感觉就舒服</span></label>
                            <label><input type="radio" name="check_step_2-1" class="Q03S2"><span>很多有份，有光光的</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">2</span>化妆2个小时后 你的脸状态或感觉怎么样？</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-2" class="Q04S1"><span>容易掉妆</span></label>
                            <label><input type="radio" name="check_step_2-2" class="Q04S3"><span>化妆均匀，不容易掉妆</span></label>
                            <label><input type="radio" name="check_step_2-2" class="Q04S2"><span>化妆容易脱妆</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">3</span>平时 T形区域皮肤感觉怎么样？</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-3" class="Q05S1"><span>干燥， 脸上生出细皱纹</span></label>
                            <label><input type="radio" name="check_step_2-3" class="Q05S3"><span>油水分平衡，几乎没有皮肤过敏</span></label>
                            <label><input type="radio" name="check_step_2-3" class="Q05S2"><span>经常很多有份，有光光的</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">4</span>平时U形区域的皮肤感觉怎么样？</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-4" class="Q06S1"><span>干燥， 脸上生出细皱纹</span></label>
                            <label><input type="radio" name="check_step_2-4" class="Q06S3"><span>油水分平衡，几乎没有皮肤过敏</span></label>
                            <label><input type="radio" name="check_step_2-4" class="Q06S2"><span>每天很多有份，有关光的</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">5</span>平时自己的皮肤状态怎么样？</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-5" class="Q07S1" value="1"><span>毛孔不明显，肤质细腻.</span></label>
                            <label><input type="radio" name="check_step_2-5" class="Q07S1" value="2"><span>T形区域可见一些毛孔,整体皮肤细腻</span></label>
                            <label><input type="radio" name="check_step_2-5" class="Q07S1" value="3"><span>整体毛孔比较粗大， 肤质不细腻。</span></label>
                        </div>
                    </li>
                    <li>
                        <p><span class="num">6</span>平时自己的皮肤光润怎么样？</p>
                        <div class="check_wrap">
                            <label><input type="radio" name="check_step_2-6" class="Q08S1"><span>皮肤黯哑</span></label>
                            <label><input type="radio" name="check_step_2-6" class="Q08S3"><span>T形区域中心不过分的光泽整体透明</span></label>
                            <label><input type="radio" name="check_step_2-6" class="Q08S2"><span>面部油腻发亮，有光泽</span></label>
                        </div>
                    </li>
                </ul>

                <div class="skintest_btns">
                    <a class="btn_prev" th:href="@{/skin/solution_01_1}">以前</a>
                    <a class="btn_next" th:href="@{/skin/solution_01_3}">下次</a>
                </div>

            </div>
        </div>
        <!-- //컨텐츠 -->

    </section>
    <!-- //Container -->

</body>
</html>